@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
input[type='text']:focus ~ .input-text,input[type='text']:not(:placeholder-shown) ~ .input-text{
    @apply text-red-600 transform -translate-y-4 -translate-x-2 scale-75;
}
input[type='number']:focus ~ .input-text,input[type='number']:not(:placeholder-shown) ~ .input-text{
    @apply text-red-600 transform -translate-y-4 -translate-x-2 scale-75;
}